<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="style.css">
  <title>Document</title>
</head>
<body>
    <div id="app" v-cloak>
      <div class="row">
        <div class="container">
          <button v-on:click="toggleList" type="button" class="toggle-list">Показать/скрыть список</button>
          <users-table v-if="isListVisible" v-bind:users="list" v-on:remove="removeFromList"></users-table>
        </div>
      </div>
    </div>

    <template id="users-table">
      <table id="users-table" class="table">
            <caption class="table__caption"> Всего пользователей: {{ totalUsers }} </caption>
            <thead class="table__header">
              <tr class="table__row">
                <th class="table__header-cell">Id</th>
                <th class="table__header-cell">Last Name</th>
                <th class="table__header-cell">First Name</th>
                <th class="table__header-cell">Middle Name</th>
                <th class="table__header-cell">User Photo</th>
              </tr>
            </thead>
            <tbody class="table__body">
              <tr v-for="item in users" v-bind:key="item.id" class="table__row">
                <td class="table__body-cell">
                  <button v-on:click="remove(item.id)" type="button"> # {{ item.id }} </button>
                </td>
                <td class="table__body-cell">{{ item.lastName | toUppercase }}</td>
                <td class="table__body-cell">{{ item.firstName | toUppercase }}</td>
                <td class="table__body-cell">{{ item.middleName | toUppercase }}</td>
                <td class="table__body-cell">
                  <img v-bind:src="item.avatarUrl || defaultImage" width="100px" alt="Avatar">
                </td>
              </tr>
            </tbody>
          </table>
    </template>
  <script src="https://cdn.jsdelivr.net/npm/vue@2.6.7/dist/vue.js"></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script src="main.js"></script>
</body>
</html>